2025-01-20 22:33:25.5601 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 22:33:25.5601 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 22:33:25.5601 Info Closing old configuration.
2025-01-20 22:33:25.5769 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ChaniHellman\MyShop\OurShop\nlog.config
2025-01-20 22:33:25.5769 Info Configuration initialized.
2025-01-20 22:37:10.3033 Info Loading assembly name: NLog.MailKit
2025-01-20 22:37:10.4632 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 22:37:10.5763 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 22:37:10.6952 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 22:37:10.7128 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 22:37:10.7424 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ChaniHellman\MyShop\OurShop\nlog.config
2025-01-20 22:37:10.7903 Info Configuration initialized.
2025-01-20 22:39:02.2576 Info Loading assembly name: NLog.MailKit
2025-01-20 22:39:02.3552 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-20 22:39:02.4397 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-20 22:39:02.5408 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-20 22:39:02.5540 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-20 22:39:02.5850 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=C:\Users\The user\Desktop\ChaniHellman\MyShop\OurShop\nlog.config
2025-01-20 22:39:02.6476 Info Configuration initialized.
2025-01-29 13:32:58.8943 Info Loading assembly name: NLog.MailKit
2025-01-29 13:32:58.9651 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-29 13:32:59.0039 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-29 13:32:59.3728 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-29 13:32:59.3964 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-29 13:32:59.4095 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=M:\ChaniHellman\OurShop\nlog.config
2025-01-29 13:32:59.4206 Info Configuration initialized.
2025-01-29 13:33:03.0488 Info NLogRequestPostedBodyMiddleware is not yet initialized, which is required by aspnet-request-posted-body.
2025-01-29 13:39:31.5162 Info Loading assembly name: NLog.MailKit
2025-01-29 13:39:31.5605 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-29 13:39:31.5815 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-29 13:39:31.7929 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-29 13:39:31.7929 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-29 13:39:31.7929 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=M:\ChaniHellman\OurShop\nlog.config
2025-01-29 13:39:31.8149 Info Configuration initialized.
2025-01-29 13:39:34.6443 Info NLogRequestPostedBodyMiddleware is not yet initialized, which is required by aspnet-request-posted-body.
2025-01-29 13:53:41.5380 Info Loading assembly name: NLog.MailKit
2025-01-29 13:53:41.5992 Info NLog.MailKit, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.7957. Product version: 5.3+9ef8e80a2d4d2222f0cae59868deaa715a68a2da. GlobalAssemblyCache: False
2025-01-29 13:53:41.6222 Info Registered target NLog.Targets.FileTarget(Name=mylogfile)
2025-01-29 13:53:41.8442 Info Registered target NLog.MailKit.MailTarget(Name=email)
2025-01-29 13:53:41.8568 Info NLog, Version=5.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c. File version: 5.3.4.2778. Product version: 5.3.4+73d83d3161d31288ca5c554cc50d27b6bed5f28b. GlobalAssemblyCache: False
2025-01-29 13:53:41.8568 Info Validating config: TargetNames=mylogfile, email, ConfigItems=58, FilePath=M:\ChaniHellman\OurShop\nlog.config
2025-01-29 13:53:41.8734 Info Configuration initialized.
2025-01-29 13:54:11.6497 Info NLogRequestPostedBodyMiddleware is not yet initialized, which is required by aspnet-request-posted-body.
